@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: auto;
}

button, input{
  border: none;
  outline: none;
  transition: 0.2s all ease-in-out;
}


::-webkit-scrollbar {
    width: 0 !important; /* Changez la largeur ici */
    height: 0 !important; /* Pour les barres de défilement horizontales */
}


.App{
  background-color: black;
  width: 100%;
}

.App2{
  max-width: 810px;
  margin: 0 auto;
}

